<!--
 ! excerpted from "practical vim",
 ! published by the pragmatic bookshelf.
 ! copyrights apply to this code. it may not be used to create training material,
 ! courses, books, articles, and the like. Contact us if you are in doubt.
 ! We make no guarantees that this code is fit for any purpose.
 ! visit http://www.pragmaticprogrammer.com/titles/dnvim2 for more book information.
-->
<a href="#">ONE</a>
<a href="#">TWO</a>
<a href="#">THREE</a>
